<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
        button {
        background-color: #04aa6d;
        float: right;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
    }
  
    button:hover {
        opacity: 0.8;
    }
    </style>
</head>
<body>
    
    <button><a href="/auth/signout" style="text-decoration: none;">signout</button>
    <h1 style="color:green; text-align:center">Welcome to NodeJs</h1>
</body>
</html>